{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": ["data-testid"]
          }
        ]
      ],
      "ignore": ["src/lib/__tests__/**"]
    }
  }
}
