node_modules
bower_components
.DS_Store
*.log
.idea
.sass-cache
modules
build
gh-pages
/lib
package-lock.json
# vscode stuff
.vscode

# code coverage
coverage

*.orig

# lock file
yarn.lock
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
